@keyframes animateInNotice {
	from {	
		top: 100vh;
		left: 100vw;
	}

	to {
		top: calc(100vh - 100px);
		left: calc(100vw - 400px);
	}
}

button{
	border-radius: 20px;
}

h1{
	font-family: roboto;
}

h2{
	font-family: roboto;
}

.collapse{
	background-color: #BDB1AA;

}

.container{
	border: 4px black;
	border-radius: 5px;
	
}

.image_add_container{
	height: 420px;
	overflow-y: scroll;
}

.hiddenBoxImg{
	background-color: aqua;
	position: absolute;
	height: 100px;
	width: 400px;
	top: 100vh;
	left: 100vw;
}

.shownBoxImg{
	background-color: aqua;
	position: absolute;
	height: 100px;
	width: 400px;
	top: calc(100vh - 100px);
	left: calc(100vw - 400px);
	animation-name: animateInNotice;
	animation-duration: 3s;
}

.sidebar{
	width: 500px;
    background-color: #E8D9D1;
}

.thumbnail{
    height: 80%;
}

.thumbnail_div{
	border-style: inset;
    border-width: 5px;
    border-color: #c4c4c4;
    width: 150px;
    height: 200px;
    display: inline-block;
    overflow: scroll;
     background-color: #c8d6e3;

}

.thumbnail_name{
	margin: 0;
}

.noticeText{
	font-family: 'Baloo Bhai';
}

.upload_content{
	width: 350px;
	background-color: #E8D9D1;
}

#VisualEditor{
	border-width: 5px;
	border-color: black;
	border-style: inset;
}
